html, body {
  height: 100%;
  width: 100%;
}

#startExperiment {
  margin-top: 10%;
  width: 20%;
  height: 20%
}

section {
  height: 50%;
}

#experiment {
  display: none;
}

.half {
  height: 50%;
}

.full {
  height: 100%;
}

#kuva {

}

#teksti {
  font-size: 4vw;
}